/* Background */
.mprofile-wrapper {
  min-height: 100vh;
  background: rgb(228, 191, 250);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

/* Card */
.mprofile-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

/* Header */
.mprofile-header {
  margin-bottom: 25px;
}

.mprofile-avatar {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, #9e4ffe, #00f2fe);
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

.mprofile-header h2 {
  margin: 5px 0;
  font-size: 22px;
  color: #333;
}

.mprofile-email {
  font-size: 14px;
  color: #777;
}

/* Details */
.mprofile-details {
  text-align: left;
  margin: 20px 0;
}

.mdetail-item {
  margin-bottom: 15px;
}

.mdetail-item span {
  font-size: 12px;
  color: #999;
  display: block;
}

.mdetail-item p {
  margin: 4px 0 0;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

/* Buttons */
.mprofile-actions {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.btn {
  flex: 1;
  padding: 10px 0;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
}

/* Edit */
.edit-btn {
  background: rgb(90, 25, 150);
  color: white;
}

.edit-btn:hover {
  transform: translateY(-2px);
  box-shadow: rgb(119, 41, 193);
}

/* Delete */
.delete-btn {
  background: #ff4d4f;
  color: white;
}

.delete-btn:hover {
  background: #e04344;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 77, 79, 0.4);
}

/* Loading */
.loading-text {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
