/* Card */
.detail {
  background: #ffffff;
  border-radius: 6px;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
}

.detail:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transform: translateY(-5px);
}



/* Name */
.name {
  font-size: 17px;
  font-weight: 600;
  color: #222;
  margin-bottom: 4px;
}

/* Hide ID */
.id {
  display: none;
}

/* Email */
.email {
  font-size: 13px;
  color: #3b82f6;
  margin-bottom: 6px;
}

/* Address */
.address {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

/* Phone badge */
.phone {
  display: inline-block;
  background: #e6f4ea;
  color: #22c55e;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  margin-bottom: 14px;
}

/* Action buttons */
.actions {
  margin-top: 15px;
}

/* View profile button */
/* VIEW BUTTON */
.edit-btn {
  padding: 8px 20px;
  background-color: #651a83;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  
}

.edit-btn:hover {
  background-color: #9128ba;
  transform: scale(1.05);
}
/* Delete button */
.delete {
  width: 100%;
  background: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.delete:hover {
  background: #ef4444;
  color: white;
}

.delete {
  display: none;
}

.user-avatar,
.user-avatar-fallback {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4f46e5;

  /* CENTERING */
  display: block;
  margin: 0 auto 12px auto; /* center + space below */
}

/* fallback specific styles */
.user-avatar-fallback {
  background-color: #ccc;
  color: #fff;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

