.page {
  padding: 30px;
  background: #fbeefd;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}

/* Table Layout */
.insta-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1100px;
  margin: auto;
}

/* Row */
.insta-card {
  width: 100%;
  display: grid;
  grid-template-columns: 220px 0.9fr 250px 160px;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 10px 14px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}

.insta-card:hover {
  background: #f7f4ff;
}

/* Profile */
.insta-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.insta-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.insta-username {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

/* Title */
.insta-title {
  font-size: 14px;
  color: #333;
}

/* Image */
.insta-image {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

/* Delete column */
.insta-footer {
  display: flex;
  justify-content: center;
}

/* Tiny Delete Button */
.delete-btn {
  background: #ffffff;
  color: rgb(112, 0, 0);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.2s ease;
}

.delete-btn svg {
  font-size: 11px;
}

.delete-btn:hover {
   background:rgb(255, 0, 13);
  color: rgb(112, 0, 0);
  transform: scale(1.1);
}

/* Search */
.search-bar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background: #6a0dad;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background: #580c9a;
}

/* Status */
.status-text {
  text-align: center;
  color: #666;
}
