/* Page Background */
.update-profile-page {
  min-height: 100vh;
  background-color: #e6dbff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Card */
.uprofile-card {
  display: flex;
  width: 850px;
  max-width: 95%;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* Left Image */
.uprofile-image {
  width: 50%;
  background-color: #f6eaff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uprofile-image img {
  width: 80%;
  height: auto;
}

/* Right Form */
.uprofile-form {
  width: 50%;
  padding: 40px;
}

.uprofile-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #2f1f37;
}

.uprofile-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.uprofile-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #483751;
}

.uprofile-form input {
  height: 42px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #d9d1db;
  font-size: 14px;
}

.uprofile-form input:focus {
  outline: none;
  border-color: #560766;
  box-shadow: 0 0 0 3px rgba(63, 7, 101, 0.2);
}

.uprofile-form button {
  margin-top: 10px;
  height: 45px;
  background-color: #52096c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 45px;
}

.uprofile-form button:hover {
  background-color: #a526cf;
}
