/* Page Background */
.update-profile-page {
  min-height: 100vh;
  background-color: #e6dbff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Card */
.uprofile-card {
  display: flex;
  width: 850px;
  max-width: 95%;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}



/* Right Form */
.uprofile-form {
  width: 50%;
  padding: 40px;
}

.uprofile-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #2f1f37;
}

.uprofile-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.uprofile-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #483751;
}

.uprofile-form input {
  height: 42px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #d9d1db;
  font-size: 14px;
}

.uprofile-form input:focus {
  outline: none;
  border-color: #560766;
  box-shadow: 0 0 0 3px rgba(63, 7, 101, 0.2);
}

.uprofile-form button {
  margin-top: 10px;
  height: 45px;
  background-color: #52096c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 45px;
}



/* Left Image */
.uprofile-image {
  width: 50%;
  background-color: #f6eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   gap: 12px;
}

/* Profile image */
.uprofile-image img {
  width: 300px;
  height: 300px;
  border-radius: 12px;  
  object-fit: cover;
  border: 3px solid #6421ab;
  box-shadow: 0 6px 18px rgba(79, 70, 229, 0.25);
  background-color: #f3f4f6;
}
/* Optional hover effect */
.uprofile-image img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* Upload button */
.upload-btn {
  padding: 10px 20px;
  background-color: #6421ab;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(100, 33, 171, 0.3);
}

/* Hover effect */
.upload-btn:hover {
  background-color: #4b1686;
  transform: translateY(-2px);
}

/* Active click */
.upload-btn:active {
  transform: scale(0.97);
}

.photo-placeholderr {
  width: 300px;
  height: 300px;
  border-radius: 12px;              /* use 50% if you want circle */
  background-color: #f3f4f6;
  color: #e2d1e1;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 18px rgba(100, 33, 171, 0.15);
  transition: 0.3s ease;
}

