body {
  background: #efdbff;
  font-family: "Segoe UI", sans-serif;
}

.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  display: flex;
  width: 900px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* Image */
.register-image {
  width: 45%;
  background: #f6eeff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-image img {
  width: 95%;
}

/* Form */
.register-form {
  width: 55%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.register-form h2 {
  font-size: 28px;
  margin-bottom: 6px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.register-form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.register-form input {
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.register-form input:focus {
  border-color: #651a83;
  outline: none;
}

.register-form button {
  background: #651a83;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.register-form button:hover {
  background: #8a25b2;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #651a83;
  text-decoration: none;
  font-weight: 600;
}

/* Mobile */
@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
    width: 90%;
  }

  .register-image {
    width: 100%;
    padding: 30px;
  }

  .register-form {
    width: 100%;
    padding: 30px;
  }
}
