/* Page background */
.upload-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faedfe;
  font-family: "Inter", sans-serif;
}

/* Upload card */
.upload-card {
  width: 600px;
  background:  hsl(302, 100%, 92%);
  border-radius: 16px;
  padding: 22px;
  position: relative;
}

/* Title */
.upload-card h2 {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

/* Form layout */
.upload-card form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Email input */
.upload-input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ffd6fe;
  outline: none;
  font-size: 14px;
}

.upload-input:focus {
  border-color: #e47aff;
  box-shadow: 0 0 0 2px rgba(122, 130, 255, 0.2);
}

/* File upload (drag area look) */
.upload-file {
  width: 100%;
  padding: 40px 12px;
  border-radius: 14px;
  border: 2px dashed #f8c9ff;
  background: #fefaff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.upload-file::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-file::before {
  content: "Drag & drop or choose file to upload\nJPG, PNG, SVG (Max 5MB)";
  white-space: pre-line;
  display: block;
  text-align: center;
  color: #ca7be5;
  font-weight: 500;
}

/* Image preview box */
.preview-box {
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
  background: #f6f7ff;
  border: 1px solid #eed6ff;
  display: flex;
  justify-content: center;
}

/* Preview image */
.preview-img {
  max-width: 100%;
  max-height: 180px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(178, 90, 216, 0.25);
}

/* Upload button */
.upload-btn {
  margin-top: 6px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(180deg, #792d8c, #711b71);
  cursor: pointer;
  transition: all 0.25s ease;
}

.upload-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(90, 99, 216, 0.35);
}
